* {
    margin: 0;
    padding: 0;
}

body {
    background: #f9f9f9;
}

$width:1px;
$height:1px;
// banner
#banner {
    width: $width * 1920;
    height: $height * 500;
    margin: 0 auto;
    position: relative;
    .banner-ul {
        width: $width * 1920;
        height: $height * 500;
        // overflow: hidden;
        position: relative;
        li {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    // 切换器
    .qh {
        position: absolute;
        bottom: 30px;
        right: 300px;
        >li {
            float: left;
            height: $height * 12;
            width: $width * 12;
            background: white;
            border-radius: 50%;
            margin-left: 17px;
            overflow: hidden;
            cursor: pointer;
            z-index: 10;
        }
        .active {
            background: #ff6700;
        }
    }
    // 箭头
    #right,
    #left {
        font-size: 100px;
        color: white;
        font-family: verdana;
        position: absolute;
        text-decoration: none;
        top: 180px;
        display: none;
    }
    #left {
        left: 0;
    }
    #right {
        right: 0;
    }
    #right:hover,
    #left:hover {
        color: #ff6700;
    }
    >#list {
        position: absolute;
        top: 2px;
        left: 50%;
        margin-left: -613px;
        >li {
            width: $width * 226;
            height: $height * 62;
            background: rgba($color: #000000, $alpha: .3);
            cursor: pointer;
            padding-left: 30px;
            >img {
                float: left;
                width: $width * 57;
                height: 100%;
                margin-right: 5px;
            }
            >a {
                text-align: center;
                line-height: 60px;
                color: white;
            }
            &:hover {
                background: #ff6700;
            }
        }
    }
    // 二级列表
    #ol .list-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 603px;
        width: $width * 446;
        height: 500px;
        background: white;
        padding: 0 0 0 40px;
        div {
            width: 400px;
            article {
                height: 70px;
                margin-top: 20px;
                border-bottom: 1px solid #eeeeee;
                img {
                    float: left;
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                }
                a {
                    float: left;
                    color: black;
                    margin-top: 20px;
                    &:hover {
                        color: red;
                    }
                }
            }
            section {
                padding-top: 8px;
                a {
                    font-size: 14px;
                    color: #666666;
                    padding: 0px 15px;
                    border-left: 1px solid #e0e0e0;
                    display: inline-block;
                    margin-bottom: 8px;
                    &:hover {
                        color: red;
                    }
                }
            }
        }
    }
}