* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#header > .top {
  height: 35px;
  width: 100%;
  background-color: #333333;
}
#header > .top .content {
  width: 1226px;
  height: 100%;
  margin: 0 auto;
}
#header > .top .content .left {
  float: left;
}
#header > .top .content .left li {
  float: left;
  text-align: center;
  font-size: 13px;
  line-height: 35px;
}
#header > .top .content .left li a {
  display: inline-block;
  height: 35px;
  width: 145px;
  color: #ffffff;
}
#header > .top .content .left li a img {
  position: relative;
  top: 2px;
  right: 2px;
}
#header > .top .content .left li:nth-child(1) {
  background: #555555;
}
#header > .top .content .left li:hover {
  background: #555555;
}
#header > .top .content .dl {
  float: left;
  margin-left: 50px;
  margin-right: 10px;
}
#header > .top .content .dl a {
  display: inline-block;
  font-size: 13px;
  color: #ffffff;
  border-right: 1px solid #ccc;
  padding: 0 20px;
  margin-top: 9px;
}
#header > .top .content .dl a:hover {
  color: #ff6700;
}
#header > .top .content .right li {
  float: left;
  text-align: center;
  width: 120px;
  font-size: 13px;
  line-height: 35px;
  position: relative;
  cursor: pointer;
}
#header > .top .content .right li > .iconfont {
  font-size: 16px;
  color: white;
  margin-right: 8px;
}
#header > .top .content .right li > a {
  display: inline-block;
  height: 35px;
  color: #ffffff;
}
#header > .top .content .right li:hover {
  background: #555555;
}
#header > .top .content .right .hover1 .rentou {
  display: none;
  width: 240px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 35px;
  border: 1px solid #ccc;
  background: white;
  z-index: 9;
}
#header > .top .content .right .hover1 .rentou .top {
  padding-top: 18px;
  padding-left: 25px;
  overflow: hidden;
}
#header > .top .content .right .hover1 .rentou .top img {
  float: left;
  vertical-align: middle;
}
#header > .top .content .right .hover1 .rentou .top a {
  color: blue;
  font-size: 16px;
  margin-left: -20px;
  cursor: pointer;
}
#header > .top .content .right .hover1 .rentou .top a:nth-child(3) {
  font-size: 14px;
}
#header > .top .content .right .hover1 .rentou .top a:hover {
  color: #ff6700;
}
#header > .top .content .right .hover1 .rentou .bot {
  padding: 0px 16px 0px 25px;
  line-height: 30px;
  float: left;
  margin-top: 5px;
}
#header > .top .content .right .hover1 .rentou .bot a {
  color: black;
  float: left;
}
#header > .top .content .right .hover1 .rentou .bot a:hover {
  color: red;
}
#header > .top .content .right .hover1 .rentou .bot span {
  float: left;
  font-size: 12px;
  color: #cfcfcf;
  margin: 0px 30px;
}
#header > .top .content .right .hover2 img {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 35px;
  left: 0;
  display: none;
  z-index: 9;
}
#header > .top .content .right .gw {
  display: none;
  width: 315px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #ccc;
  position: absolute;
  top: 35px;
  right: 0;
  color: #aaa;
  background: white;
}
#header > .top .content .right .hover1:hover .rentou,
#header > .top .content .right .hover2:hover img,
#header > .top .content .right .hover3:hover .gw {
  display: block;
}
#header .nav {
  width: 1226px;
  height: 78px;
  margin: 0 auto;
  background: white;
}
#header .nav > img {
  float: left;
  width: 239px;
}
#header .nav .listnav {
  float: left;
  background: white;
  padding-left: 20px;
}
#header .nav .listnav span a {
  width: 90px;
  height: 78px;
  display: block;
  line-height: 78px;
  text-align: center;
  color: red;
  float: left;
}
#header .nav .listnav > li {
  float: left;
}
#header .nav .listnav > li:nth-child(1) a {
  color: #ff6700;
}
#header .nav .listnav > li a {
  width: 90px;
  display: inline-block;
  line-height: 78px;
  text-align: center;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#header .nav .listnav > li a:hover {
  color: #ff6700;
}
#header .nav .search {
  width: 200px;
  height: 38px;
  border: 1px solid #ccc;
  float: right;
  margin-top: 17px;
  text-align: center;
  line-height: 38px;
}
#header .nav .search input {
  border: none;
  outline: none;
  margin-left: 5px;
}
#header .nav .search:hover {
  border: 1px solid red;
}
#header > #box {
  position: absolute;
  width: 100%;
  height: 256px;
  background: white;
  top: 113px;
  left: 0;
  z-index: 10;
  border-top: 1px solid #bbb;
  border-bottom: 2px solid #bbb;
  display: none;
}
#header > #box .ol {
  width: 1226px;
  height: 100%;
  margin-left: -600px;
  position: absolute;
  top: 0;
  left: 50%;
}
#header > #box .ol > p {
  width: 114px;
  line-height: 260px;
  font-size: 22px;
  color: black;
  float: left;
}
#header > #box .ol > li a {
  display: block;
  width: 244px;
  height: 100%;
  float: left;
  padding: 20px 0;
  text-align: center;
}
#header > #box .ol > li a img {
  width: 150px;
  height: 150px;
  padding: 0 42px;
  border-right: 1px solid #ccc;
}
#header > #box .ol > li a p {
  margin-top: 16px;
  color: black;
}
#header > #box .ol > li a span {
  display: block;
  color: red;
  margin-top: 6px;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

#footer {
  width: 100%;
  background: #efefef;
  margin-top: 50px;
}
#footer .con {
  width: 1226px;
  margin: 0 auto;
  height: 370px;
}
#footer .con > .top {
  padding: 37px 25px 0px;
  height: 77px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .con > .top > div {
  float: left;
  display: flex;
  width: 182px;
  justify-content: space-between;
  align-items: center;
}
#footer .con > .top > div > div {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
#footer .con > .top > div > div b {
  font-size: 17px;
}
#footer .con > .top > div > div p {
  font-size: 14px;
}
#footer .con .bot {
  margin-top: 14px;
}
#footer .con .bot .left {
  float: left;
  position: relative;
}
#footer .con .bot .left div {
  width: 70px;
  float: left;
  margin-left: 40px;
}
#footer .con .bot .left div b {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 18px;
  font-weight: normal;
}
#footer .con .bot .left div a {
  font-size: 12px;
  display: block;
  color: #999;
  height: 30px;
  line-height: 30px;
}
#footer .con .bot .left div:nth-child(3) {
  margin-left: 96px;
}
#footer .con .bot .left .gang {
  width: 200px;
  position: absolute;
  display: inline-block;
  border-top: 1px solid #ccc;
  right: 0;
  bottom: 14px;
}
#footer .con .bot .left > a {
  position: absolute;
  bottom: -28px;
  right: 0;
  color: #999;
}
#footer .con .bot .left a:hover {
  color: red;
}
#footer .con .bot .center {
  width: 208px;
  margin-left: 62px;
  float: left;
  border-left: 1px solid #ccc;
  padding-left: 22px;
  border-right: 1px solid #ccc;
  padding-left: 40px;
}
#footer .con .bot .center .iconfont,
#footer .con .bot .center i {
  color: red;
  margin-left: 5px;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}
#footer .con .bot .center p {
  margin-top: 20px;
  font-size: 20px;
}
#footer .con .bot .right {
  float: left;
}
#footer .con .bot .right img {
  width: 108px;
  height: 108px;
  float: left;
  margin-left: 30px;
}
#footer .footer-bot {
  width: 100%;
  height: 226px;
  background: #333333;
  text-align: center;
}
#footer .footer-bot > img {
  margin: 30px;
}
#footer .footer-bot p {
  color: #999999;
  margin-bottom: 5px;
}
#footer .footer-bot div {
  width: 1226px;
  margin: 0 auto;
  margin-top: 30px;
}
#footer .footer-bot div li {
  float: left;
  margin-left: 88px;
}
#footer .footer-bot div li img {
  width: 26px;
  height: 31px;
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}
#footer .footer-bot div li span {
  float: left;
  vertical-align: middle;
  color: #999999;
}

body {
  background: #fff;
}

#content {
  width: 1226px;
  height: 800px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
#content .bimg {
  width: 510px;
  height: 510px;
  float: left;
  margin-right: 63px;
  border: 1px solid #ccc;
  position: relative;
}
#content .bimg img {
  width: 510px;
  height: 510px;
}
#content .detail {
  width: 650px;
  height: 514px;
  float: left;
}
#content .detail p {
  height: 90px;
  width: 650px;
  overflow: hidden;
  line-height: 90px;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #bbb;
}
#content .detail b {
  font-size: 34px;
  color: red;
  float: left;
  line-height: 90px;
}
#content .detail span {
  display: block;
  height: 90px;
  line-height: 90px;
  font-size: 30px;
  color: red;
  border-bottom: 1px solid #bbb;
}
#content .detail .amount {
  height: 90px;
  line-height: 90px;
  font-size: 18px;
  margin-top: 20px;
  border-bottom: 1px solid #bbb;
}
#content .detail .amount b {
  font-weight: normal;
  font-size: 16px;
  float: left;
  margin-right: 10px;
}
#content .detail .amount input {
  float: left;
  width: 77px;
  height: 36px;
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  margin-top: 22px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#content .detail .amount button {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  line-height: 34px;
  text-align: center;
  background: #fff;
  border: none;
  border: 1px solid #ccc;
  margin-top: 22px;
  cursor: pointer;
  outline: none;
}
#content .detail .amount button:hover {
  color: red;
  border: 1px solid red;
}
#content .detail a {
  display: block;
  float: left;
  margin-top: 50px;
  width: 178px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
#content .detail .buy {
  background: red;
  color: whitesmoke;
}
#content .detail .shop {
  margin-left: 13px;
  background: #fff;
  border: 1px solid #999;
  color: #666;
}
#content .detail .shop:hover {
  border: 1px solid red;
  color: red;
}
#content .detail em {
  font-style: normal;
  margin-top: 58px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: bold;
}
#content .detail em div {
  position: absolute;
  top: -245px;
  display: none;
}
#content .detail em div img {
  width: 230px;
  height: 230px;
}
#content .detail em:hover div {
  display: block;
}
#content .simg {
  width: 504px;
  overflow: hidden;
  height: 100px;
  float: left;
  margin-top: 10px;
}
#content .simg > ul {
  position: relative;
  width: 660px;
  margin-top: 12px;
  float: left;
}
#content .simg > ul li {
  float: left;
  list-style: none;
  width: 84px;
  height: 84px;
  margin-left: 11px;
  border: 2px solid #ccc;
  cursor: pointer;
}
#content .simg > ul li img {
  width: 100%;
  height: 100%;
}
#content .simg > ul li:last-child {
  margin-right: 0;
}
#content .simg > ul li:hover {
  border: 2px solid red;
}
#content #bf {
  visibility: hidden;
  width: 520px;
  height: 520px;
  border: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 575px;
  z-index: 9;
  overflow: hidden;
}
#content #bf img {
  position: absolute;
  left: 0;
  top: 0;
}

#sf {
  width: 50px;
  height: 50px;
  background: orange;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
}

#right {
  color: #ccc;
  position: absolute;
  position: absolute;
  bottom: 200px;
  left: 510px;
  font-size: 40px;
  font-weight: bold;
}

#left {
  color: #ccc;
  position: absolute;
  bottom: 200px;
  left: -35px;
  font-size: 40px;
  font-weight: bold;
}

/*# sourceMappingURL=detail.css.map */
